body{
    background-color: black;
    color: rgb(39, 223, 230);
    padding:  0px 50px;
    font-family: "Roboto";
}
header{
    text-align: center;
}
header h1{
    margin: 40px;
}
nav{
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    
}
nav a{
    color: white;
    text-decoration: none;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 20px;
}
.description-text{
    width: 500px;
    grid-column: 1/2 span;
    padding: 0px 10px;
    background-color: rgba(150, 152, 155, 0.589);
}
.img-item{
    position: relative;
    text-align: center;
    width: 200px;
    height: 200px;
    background-color: rgba(150, 152, 155, 0.589);
}
.img-item img{
    width: 200px;
    height: 200px;
}
.img-item p{
    position: absolute;
    color: white;
    background-color: rgb(39, 223, 230);
    padding: 10px;
    top: 0px;
    right: 0px;
    margin: 0;
    font-weight: bold;
}
.current-text{
    background-color: rgba(150, 152, 155, 0.589);
    width: 50%;
    margin-top: 10px;
    padding: 10px;
}
.shop-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 20px;
}
.contact-container{
    display: grid;
    grid-template-areas: 'title title'
                           'contact comment' ;
    width: 50%;
    margin: 0 auto;
    gap: 20px;
}
.contact-container h3{
    background-color: rgba(150, 152, 155, 0.589);
    grid-area: title;
}

.contact-field{
    background-color: rgba(150, 152, 155, 0.589);
    width: 355px;
    height: 200px;
    grid-area: contact;
}

.comment-field{
    background-color: rgba(150, 152, 155, 0.589);
    width: 355px;
    height: 200px;
    grid-area: comment;
}

@font-face {
    font-family: 'Roboto';
    src: url('font/Roboto-Regular.woff2') format('woff2'),
        url('font/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }